<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Station</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-800 min-h-screen flex items-center justify-center">
    <div class="bg-white shadow-md rounded-xl p-6 max-w-sm w-full">
      <h1 class="text-center text-2xl font-bold text-gray-800 mb-4">
        Weather Station
      </h1>
      {% if temperature is none or humidity is none %}
      <p class="text-red-500 text-lg font-medium">No data available yet.</p>
      {% else %}
      <div
        class="w-full h-72 bg-gray-800 p-10 flex flex-col items-center justify-center text-white text-lg md:text-2xl font-mono"
      >
        <div>
          <strong> Humidity:&ensp;</strong><span class="">{{ humidity }}%</span>
        </div>
        <div>
          <strong> Temperature:&ensp;</strong
          ><span class="">{{ temperature }}°C</span>
        </div>
      </div>
      {% endif %}
      <div class="mt-6">
        <button
          onclick="window.location.reload()"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md"
        >
          Refresh
        </button>
      </div>
    </div>
  </body>
</html>
